[submodule "homelab-ansible"]
	path = homelab-ansible
	url = gitea@gitea01v.local.sfenzke.de:sfenzke/homelab-ansible.git
	branch = main 
[submodule "homelab-terraform"]
	path = homelab-terraform
	url = gitea@gitea01v.local.sfenzke.de:sfenzke/homelab-terraform.git
	branch = main 
[submodule "homelab-collection"]
	path = homelab-collection
	url = gitea@gitea01v.local.sfenzke.de:sfenzke/homelab-collection.git
	branch = main 
